@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

body {
  background-color: #ebebf3;
  color: #5c5c5c;
}

#header {
  font-size: 4em;
  margin: 1em;
}

#wrapper {
  text-align: center;
}

.colorBox {
  height: 225px;
  width: 185px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(128, 128, 128, 0.5);
  padding-top: 15em;
  color: #5c5c5c;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

#button {
  height: 40px;
  width: 250px;
  border: white;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 1px 5px rgb(128, 128, 128, 0.5);
  color: #5c5c5c;
  font-size: 1.2em;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 4em;
}

.whiteBox {
  width: 205px;
  height: 320px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 1px 10px rgb(128, 128, 128, 0.5);
  margin: 10px;
}

#color-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
